<div class="card" style="width: 40rem;height: auto;">
    <div class="card-body" style="text-align: center;">
      <h5 class="card-title">Enter Time Limit</h5>
      <h6 class="card-subtitle mb-2 text-muted"><input type='text' [(ngModel)]="item" /></h6>
      <a (click)='startTimer()' class="card-link">Start</a>
      <a (click)='pauseTimer()' class="card-link">Pause</a>
      <a (click)="resetTimer()"  class="card-link">Reset</a>

      <p *ngFor="let item of left">Paused at {{item}}</p>
    </div>
  </div>